@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Light.ttf');
}

@font-face {
    font-family: 'RobotoMonoBold';
    src: url('../fonts/RobotoMono-Bold.ttf');
}

@font-face {
    font-family: 'RobotoMonoI';
    src: url('../fonts/RobotoMono-Italic-VariableFont_wght.ttf');
}


body{
    margin: 0;
}

/**NAVBAR**/

.nav{
    background: #f8f8f8;
    height: 4rem;
    display: flex;
    align-items: center;
}

.nav a{
    margin-right: 10px;
    margin-left: 2rem;
    text-decoration: none;
    color: #101935;
    font-family: 'RobotoMonoBold';
    font-size: 22px;
}

.header{
    height: 45rem;
    display: flex;
    align-items: center;
    animation: cambiarColor 10s infinite;
}

@keyframes cambiarColor {
    0% {
        background-color: #FFFFFF;
    }
    50% {
        background-color: #fafafa;
    }
    100% {
        background-color: #f8f8f8;
    }
}

.info{
    font-family: Helvetica;
    margin-left: 2rem;
}

.info h1{
    color: #252525;
    font-style: bold;
    font-size: 40px;
}

.info h2{
    font-size: 28px;
    color: #252525;
    font-style: bold;
}

.info strong{
    color:#9F89DD;
}

.info p{
    font-size: 18px;
}

.info p strong{
    color: #252525;
    font-style: bold;
}

.imgprofile{
    display: flex;
    margin: auto auto auto auto;
}

.btns a{
    transition: 0.5s;
    text-decoration: none;
    background: #9F89DD;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    font-family: Helvetica;
}

.btns a:hover{
    transition: 0.5s;
    background: #b29cf0;
    box-shadow: 1px 0px 3px rgb(99, 99, 99);
}

.contimg{
    background-size: cover;
    background-position: center;
}

.contimg img{
    width: 400px;
}

.habilidades{
    margin: auto auto auto auto;
    background: #F5F5FF;
    height: 25rem;
    
}

.habilidades h1{
    margin: auto auto auto auto;
    font-family: Helvetica;
    margin-left: 2rem;
    padding-top: 10px;
    font-size: 30px;
}

.habilidades p{
    font-family: Helvetica;
    margin-left: 2rem;
    font-style: bold;
    font-size: 16px;
    
}

.habilidades strong{
    color:#9F89DD;
}

.tech{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tech img{
    
    max-width: 60px;
    margin: auto 10px auto 10px
}

.proy{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.proy h1{
    margin: auto auto auto auto;
    font-family: Helvetica;
    margin-left: 2rem;
    padding-top: 10px;
    font-size: 30px;
    color:#9F89DD;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5FF;
    height: 22rem;
    width: 95%;
    

}
.conimg{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.conimg img{
    
    max-width: 90%;
}

.condes{
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    background: #ffffff;
    height: auto;
    border-radius: 3px;
    justify-content: center;
    box-shadow: -12px 0px 20px -16px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -12px 0px 20px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 0px 20px -16px rgba(0,0,0,0.75);
    
    
}

.condes h2{
    font-family: Helvetica;
    margin-left: 1rem;
    font-style: bold;
}

.condes p{
    font-family: Helvetica;
    margin-left: 1rem;
}


.contact{
    width: 100%;
    background: #F5F5FF;
    height: 15rem;
}

.contact h1{
    margin: auto auto auto auto;
    font-family: Helvetica;
    margin-left: 2rem;
    padding-top: 10px;
    font-size: 30px;
    color:#9F89DD;
}

.contact p{
    font-family: Helvetica;
    margin-left: 2rem;
    font-style: bold;
    font-size: 16px;
    
}

.contact a{
    margin-left: 2rem;
    transition: 0.5s;
    text-decoration: none;
    background: #9F89DD;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    font-family: Helvetica;
}

.contact a:hover{
    transition: 0.5s;
    background: #b29cf0;
    box-shadow: 1px 0px 3px rgb(99, 99, 99);
}
