<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/index.css">
    <title>Portafolio</title>
</head>
<body>

<div class="navbar">
  <li>
    <a href="">Inicio</a>
    <a href="">Habilidades</a>
    <a href="">Proyectos</a>
    <a href="">Contacto</a>
  </li>
</div>

<div class="header">
  <section class="profile">
    <img src="/static/imgs/profile.png" alt="">
  </section>
  <section class="description">
    <h2>Mauricio Hernandez Isidro</h2>
    <h4>Desarrollador de aplicaciones de escritorio y web con <strong class="remark">Python</strong>.</h4>
    <div class="social">
      <a href="#">
        <img src="/static/imgs/icons/linkedin.png" alt="">
      </a>
      <a href="#">
        <img src="/static/imgs/icons/cv.png" alt="">
      </a>
    </div>
  </section>
</div>


<div class="title-ski">
  <h3>Habilidades</h3>
</div>

<div class="skills-contened">

<div class="skills-com">
  <p>Estas son algunas de las tecnologias en las que dedico mi trabajo, actualmente aprendiendo otras como Flet, 
    VueJS entre otras. 
  </p>
</div>

<div class="skills">
  <section class="t-skills">
    <img src="/static/imgs/icons/html.png" alt="HTML">
  </section>

  <section class="t-skills">
    <img src="/static/imgs/icons/css.png" alt="CSS">
  </section>

  <section class="t-skills">
    <img src="/static/imgs/icons/js.png" alt="JavaScript">
  </section>

  <section class="t-skills">
    <img src="/static/imgs/icons/bootstrap.png" alt="Bootstrap">
  </section>

  <section class="t-skills">
    <img src="/static/imgs/icons/python.png" alt="Python">
  </section>

  <section class="t-skills">
    <img src="/static/imgs/icons/qt.png" alt="Qt">
  </section>

  <section class="t-skills">
    <img src="/static/imgs/icons/flask.png" alt="Flask">
  </section>

  <section class="t-skills">
    <img src="/static/imgs/icons/mysql.png" alt="MySQL">
  </section>
</div>

</div>


<div class="projects">
    
  <div class="title-pro">
    <h3>Proyectos</h3>
    <p>Estos son algunos proyectos realizados dentro de mi experiencia como desarrollador de software.</p>
  </div>

<div class="all-pro">
  <section class="card">
      <h4>Logisitic web</h4>
      <div class="card-img">
        <img src="/static/imgs/projects/logistic_web/3.PNG" alt="">
      </div>
      <p>Pagina relacionada con la logistica de una empresa de transportes.</p>
  </section>

  <section class="card">
      <h4>Sistema de inventarios</h4>
      <div class="card-img">
        <img src="/static/imgs/projects/almacen/1.PNG" alt="">
      </div>
      <p>Aplicacion de escritorio de registro y baja de materiales de una empresa de transportes.</p>
  </section>

  <section class="card">
      <h4>Sistema en control de unidades</h4>
      <div class="card-img">
        <img src="/static/imgs/projects/reseteos/1.PNG" alt="">
      </div>
      <p>Aplicacion de registro de combustibles,viajes,rendimiento y control de mantenimientos de unidades.</p>
  </section>
  
  <section class="card">
      <h4>Páginas web estaticas</h4>
      <div class="card-img">
        <img src="/static/imgs/projects/ranch/2.PNG" alt="">
      </div>
      <p>Páginas estaticas a gusto de los clientes</p>
  </section>
</div>

</div>

</body>


</html>

