<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/portfolio/static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <a href="">Inicio</a>
        <a href="">Sobre mí</a>
        <a href="">Proyectos</a>
        <a href="">Contacto</a>
    </div>
    <div class="header">
        <div class="info">
            <h1>Hola, me llamo <strong>Mauricio</strong></h1>
            <h2>Soy desarrollador web y desktop</h2>
            <p>Interesado en crear soluciones en proyectos que hagan crecer al <strong>cliente</strong> 
                y mi habilidad como <strong>desarrollador</strong>.</p>
        </div>

        <div class="imgprofile">
            <div class="contimg">
                <img src="/portfolio/static/imgs/profile.png" alt="">
            </div>
        </div>
    </div>

    <div class="habilidades">
        <h1><strong>Sobre mí</strong></h1>
        <p>Me gusta la tecnologia y los videojuegos, la programación desperto en mi muchas curiosidades por saber como
            esta creado lo que tenemos a nuestro alrededor.
            </p>
            <p>
            Estas son algunas de las tecnologias que utilizo como desarrollador.
        </p>
        <div class="tech">
            <img src="/portfolio/static/imgs/icons/html.png" alt="">
            <img src="/portfolio/static/imgs/icons/css.png" alt="">
            <img src="/portfolio/static/imgs/icons/js.png" alt="">
            <img src="/portfolio/static/imgs/icons/bootstrap.png" alt="">
            <img src="/portfolio/static/imgs/icons/qt.png" alt="">
            <img src="/portfolio/static/imgs/icons/python.png" alt="">
            <img src="/portfolio/static/imgs/icons/flask.png" alt="">
            <img src="/portfolio/static/imgs/icons/mysql.png" alt="">
        </div>
    </div>
    <div class="proy">
        <h1>Proyectos</h1>
        <p></p>
        <div class="cont">
            <div class="conimg">
                <img src="/portfolio/static/imgs/projects/logistic_web/3.PNG" alt="">
            </div>
            <div class="condes">
                <h2>Sistema de logistica</h2>
                <p>Sistema relacionado a los diferentes viajes de unidades, asi como el registro de rendimiento, 
                    combustible y otras funciones relacionadas a una empresa de transportes.</p>
            </div>
        </div>

        <p></p>
        
        <div class="cont">

            <div class="condes">
                <h2>Sistema de gestion automotriz</h2>
                <p>Un sistema diseñado para el registro de refacciones,ordenes y mantenimientos de unidades dedicadas al servicio de transportes.</p>
            </div>
            <div class="conimg">
                <img src="/portfolio/static/imgs/projects/almacen/1.PNG" alt="">
            </div>
        </div>

        <p></p>
        
        <div class="cont">
            <div class="conimg">
                <img src="/portfolio/static/imgs/projects/reseteos/1.PNG" alt="">
            </div>
            <div class="condes">
                <h2>Sistema de Control de unidades</h2>
                <p>Aplicacion para registrar el control de combustibles de las unidades,asi como sus viajes y rendimientos,
                    aplicando un algoritmo para calcular el total de litros de combustible por centimentro actual del tanque. 
                </p>
            </div>
        </div>

    </div>
</body>
</html>